@import "tailwindcss";

/* Dark variant */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* =========================
   Light Theme (Default)
========================= */
@theme {
  /* Header */
  --color-header: hsl(0 0% 100%);

  /* Backgrounds */
  --color-primary: hsl(206 50% 94%);
  --color-secondary: hsl(187 90% 96%);
  --color-ternary: hsl(210 20% 98%);

  /* Brand */
  --color-btn: hsl(221 97% 54%);
  --color-mark-text: hsl(221 97% 54%);

  /* Icons */
  --color-bg-icon: hsl(214 95% 93%);
  --color-icon: hsl(221 97% 54%);

  /* Text */
  --color-text-primary: hsl(220 43% 11%);
  --color-text-secondary: hsl(216 15% 34%);

  /* Gradient */
  --color-grad-primary: hsl(211 100% 45%);
  --color-grad-secondry: hsl(192, 100%, 44%);
  --color-btn-grad-primary: hsl(212, 100%, 56%);
  --color-btn-grad-secondry: hsl(192, 100%, 44%);

  /* =========================
   Dark Theme (Exact Values)
========================= */

  /* Header */
  --color-dark-header: hsl(221 28% 16%);

  /* Backgrounds */
  --color-dark-primary: hsl(220 43% 11%);
  --color-dark-secondary: hsl(216 31% 17%);
  --color-dark-ternary: hsl(225 67% 33%);
  /* ✅ FIXED */

  /* Brand */
  --color-dark-btn: hsl(221 97% 54%);
  --color-dark-mark-text: hsl(188 100% 48%);

  /* Icons */
  --color-dark-bg-icon: hsl(223 58% 18%);
  --color-dark-icon: hsl(188 100% 48%);

  /* Text */
  --color-dark-text-primary: hsl(0 0% 100%);
  --color-dark-text-secondary: hsl(218, 14%, 84%);
  --color-dark-nav: hsl(218, 14%, 84%);

  /* Gradient */
  --color-dark-grad-primary: hsl(215 70% 29%);
  --color-dark-grad-secondry: hsl(199 72% 24%);

  --color-sun: hsl(44, 100%, 47%);
  --color-dark-links: hsl(216, 31%, 17%);
  --color-links: hsl(214, 100%, 97%);
}

[aria-current="page"] {
  @apply text-icon dark:text-dark-icon;
}

[aria-current="mobile-page"] {
  @apply text-icon dark:text-dark-icon bg-links dark:bg-dark-links;
}

.container {
  @apply w-19/20 sm:w-17/20 m-auto;
}

.booking-btn {
  @apply bg-btn rounded-4xl text-dark-text-primary hover:bg-btn/80 cursor-pointer duration-500;
}

.submit-btn{
  @apply  bg-gradient-to-r from-grad-primary  to-grad-secondry cursor-pointer duration-500 hover:opacity-70 rounded-lg w-full py-4 
}

.cta-btn {
  @apply py-4 rounded-4xl bg-white hover:bg-white/90 !text-mark-text font-semibold px-10 cursor-pointer duration-500;
}

.more-btn {
  @apply border-2 py-3 px-10 border-mark-text dark:border-dark-mark-text text-mark-text dark:text-dark-mark-text rounded-4xl hover:bg-mark-text/15 dark:hover:bg-dark-mark-text/15 duration-500;
}

.tab-btn {
  @apply bg-gray-100 dark:bg-dark-secondary dark:hover:bg-gray-700 hover:bg-gray-200 duration-500 aria-selected:bg-btn aria-selected:hover:bg-btn aria-selected:text-white aria-selected:shadow aria-selected:scale-105 aria-selected:shadow-black/70 py-3 px-7 rounded-3xl;
}

.time-btn {
  @apply bg-gray-100 dark:bg-dark-primary dark:hover:bg-gray-700 hover:bg-gray-200 duration-500 has-checked:bg-btn has-checked:hover:bg-btn has-checked:text-white has-checked:shadow has-checked:scale-105 has-checked:shadow-black/70 py-3 px-7 rounded-lg flex justify-center;
}

.nav-links {
  @apply hover:text-icon dark:hover:text-dark-icon duration-500;
}

.mobile-nav-link {
  @apply hover:text-icon dark:hover:text-dark-icon duration-500 hover:bg-links dark:hover:bg-dark-links p-3 rounded-md;
}

.header-section {
  @apply flex flex-col justify-center items-center gap-5
}

.title {
  @apply text-5xl lg:text-6xl font-semibold;
}

.header-section h2 {
  @apply text-3xl lg:text-5xl font-semibold;
}

.header-section p,
.subtitle {
  @apply text-text-secondary dark:text-dark-text-secondary text-lg md:text-xl text-center;
}

main {
  @apply mt-20
}

.hero-section, .page-hero {
  @apply dark:bg-gradient-to-br dark:from-dark-primary dark:to-dark-secondary bg-primary flex justify-center;
}

.img-box {
  @apply w-full lg:w-120 m-auto h-100 lg:h-120 object-cover object-top rounded-3xl shadow-lg shadow-black/30 overflow-hidden;
}

.gallary-box,
.gallary-item,
.gallery-item {
  @apply relative w-full m-auto h-80 rounded-3xl dark:shadow-lg dark:shadow-black/30 overflow-hidden flex justify-center items-center bg-gray-200;
}

.gallery-item figcaption {
  @apply absolute bottom-7 right-4 text-2xl;
}

.gallery-zoom {
  @apply text-2xl cursor-pointer bg-white/20 backdrop-blur-md flex justify-center items-center rounded-full p-4 transition;
}

.overlay {
  @apply hover:bg-gradient-to-t from-black/70 to-transparent absolute w-full h-full bottom-0 duration-500;
}


section {
  @apply py-15
}

.service-card ,.testimonial-card {
  @apply bg-white dark:bg-dark-primary shadow-md rounded-2xl flex flex-col p-8 gap-4 justify-between hover:shadow-lg duration-500 hover:-translate-y-1;
}

.contact-card  {
  @apply bg-white dark:bg-dark-secondary  shadow-md rounded-2xl flex flex-col p-8  gap-2 justify-between hover:shadow-lg duration-500

}

.testimonial-box {
  @apply w-10/12 text-center bg-white dark:bg-dark-primary shadow-md rounded-2xl flex flex-col p-8 gap-4 hover:shadow-lg duration-500;
}

.slider-btn {
  @apply bg-white dark:bg-dark-primary w-12 h-12 flex flex-col justify-center items-center shadow shadow-gray-200 dark:shadow-black rounded-full hover:scale-110 duration-500 cursor-pointer absolute;
}

.service-card>div:first-of-type,
.contact-item .contact-icon {
  @apply bg-bg-icon dark:bg-dark-bg-icon group-hover:scale-110 duration-500 w-16 h-16 flex items-center justify-center rounded-2xl;
}

.header-icon{
@apply bg-bg-icon dark:bg-dark-ternary  text-2xl duration-500 w-16 h-16 flex items-center  justify-center rounded-2xl;
}

.msg-icon{
  @apply bg-gray-300/20 text-2xl duration-500 w-16 h-16 flex items-center  justify-center rounded-2xl;
}

.contact-card > div:first-of-type{
@apply bg-bg-icon dark:bg-dark-ternary  duration-500 w-16 h-16 flex items-center  justify-center rounded-2xl;
}

.service-card .features {
  @apply list-disc list-inside space-y-1 marker:text-mark-text dark:marker:text-dark-mark-text;
}

.service-card i,
.contact-item i {
  @apply group-hover:scale-110 duration-500 text-mark-text dark:text-dark-mark-text text-2xl;
}

.icon {
  @apply bg-gradient-to-br from-btn-grad-primary to-btn-grad-secondry group-hover:scale-110 duration-500 w-16 h-16 flex items-center justify-center rounded-2xl;
}

.icon i {
  @apply group-hover:scale-110 duration-500 text-white text-3xl;
}

.service-card h3,
.contact-item h3,.contact-card h3 {
  @apply text-xl font-semibold;
}

.service-card p,
.contact-item p,
.contact-card p {
  @apply text-text-secondary dark:text-dark-text-secondary;
}

.service-card a {
  @apply text-mark-text dark:text-dark-mark-text hover:underline duration-500;
}

.contact-item {
  @apply flex gap-4
}

.contact-details {
  @apply flex flex-col gap-2 justify-between
}

.input-box {
  @apply flex flex-col gap-3
}

.input-box label {
  @apply flex flex-wrap gap-2 items-center
}

.input-style {
  @apply ring-1 ring-gray-300 dark:ring-gray-600/40 rounded-lg text-lg p-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-dark-secondary
}

.form-required {
  @apply text-red-500
}

.faq-accordion details {
  @apply flex flex-col bg-white dark:bg-dark-secondary shadow-lg shadow-black/10 overflow-hidden rounded-xl mb-4;
}

.faq-accordion summary {
  @apply flex justify-between text-lg hover:bg-gray-100 dark:hover:bg-gray-400 py-4 px-6 cursor-pointer duration-500;
}

.faq-accordion p {
  @apply pb-6 px-6 text-base text-text-secondary dark:text-dark-text-secondary;
}

.final-cta {
  @apply !py-20;
}

.bg-grad {
  @apply bg-gradient-to-b from-grad-primary dark:from-dark-grad-primary to-grad-secondry dark:to-dark-grad-secondry;
}


.tabs-btns,
.gallery-tabs {
  @apply flex flex-wrap justify-center gap-4;
}

.icon-color {
  @apply text-icon dark:text-dark-icon;
}

.cert-card{
  @apply flex gap-4 p-4  px-6 items-center dark:bg-dark-secondary rounded-2xl border-1 border-gray-300 dark:border-gray-700/90 shadow-md shadow-black/10;
}

.cert-card p ,.exper-card p {
  @apply text-text-secondary dark:text-dark-text-secondary text-sm;
}

.cert-card h3 ,.exper-card h3{
  @apply text-xl   font-semibold;
}

.exper-card{
@apply  flex flex-col  gap-4 p-7 w-full  px-6  dark:bg-dark-primary rounded-2xl border-1 border-gray-300 dark:border-gray-700/90 shadow-md shadow-black/10;
}

.exper-card time {
  @apply px-4 py-1 w-fit bg-primary dark:bg-dark-ternary/70 rounded-2xl text-icon dark:text-dark-text-secondary ;
}

